<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  <configuration>
  	<typeAliases>
		<typeAlias type="com.ssaga.human.dto.PayUserDto" alias="payUser"/>
		<typeAlias type="com.ssaga.human.dto.EmployeeDto" alias="employee"/>
		<typeAlias type="com.ssaga.human.dto.ContractInfoDto" alias="contractInfo"/>
  	</typeAliases>
  	
  </configuration>